*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ebebeb;
  width: 62.5rem;
  margin: auto;
  display: grid;
}

header,
main,
footer {
  display: grid;
  grid-template-columns: repeat(6, 10.4167rem);
  grid-auto-rows: 17rem;
}

header > article:nth-child(1) {
  background-color: #c7ddea;
  grid-column: span 3;
  grid-row: span 2;
}

header > article:nth-child(2) {
  background-color: #f17949;
  grid-column: span 3;
}

header > article:nth-child(3) {
  background-color: #ffb939;
  grid-column: span 3;
}
