@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&family=Frank+Ruhl+Libre:wght@500&display=swap");

:root {
  --baseFont: "Fira Sans", sans-serif;
  --headerFont: "Frank Ruhl Libre", serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ebebeb;
  width: 62.5rem;
  margin: auto;
  display: grid;
  grid-template-columns: 62.5rem;
  grid-auto-rows: auto;
  grid-template-areas:
    "header"
    "topnav"
    "main"
    "botnav"
    "footer";
}

header,
main,
footer {
  display: grid;
  grid-template-columns: repeat(6, 10.4167rem);
  grid-auto-rows: 17rem;
}

.breadText {
  font-family: var(--baseFont);
}

.headerText {
  font-family: var(--headerFont);
}

header > article:nth-child(1) {
  background-color: #c7ddea;
  grid-column: span 3;
  grid-row: span 2;
}

header > article:nth-child(2) {
  background-color: #f17949;
  grid-column: span 3;
}

header > article:nth-child(3) {
  background-color: #ffb939;
  grid-column: span 3;
}

header {
  grid-template: header;
}
.firstnav {
  grid-area: topnav;
}
main {
  grid-area: main;
}
.lastnav {
  grid-area: botnav;
}
footer {
  grid-area: footer;
}

#familyimage {
  width: 17.875rem;
  height: 17.438rem;
  position: relative;
  align-self: flex-end;
  margin-right: 1rem;
  margin-bottom: -1.34rem;
}

.btn-small {
  width: 8.188rem;
  height: 2.438rem;
  border-radius: 6.25rem;
  border: none;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
}
.btn-small > span {
  font-family: var(--baseFont);
  font-size: 0.625rem;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 900;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header article h1 {
  font-size: 2.813rem;
  width: 19.625rem;
  height: 6.313rem;
  font-weight: 900;
  line-height: 100%;
}
header article span {
  font-family: var(--baseFont);
  font-size: 0.875rem;
  width: 16.75rem;
  height: 6.438rem;
  line-height: 1.5rem;
}

.whiteText {
  color: white;
}
